<div id="grid">
  <div class="menu">
    строка меню.
  </div>
  <div class="tree">
    дерево файлов
  </div>
  <div class="editors">
    <div>вкладки</div>
    <div>редактируемый файл</div>
  </div>
  <div class="params-right">параметры правые</div>
  <div class="search">всплывающее окно поиска либо параметров</div>
  <div class="state">
    строка состояния <br/>
    <div style="float: left">координаты в текста: заметки/с_11/10</div>
    пагинация активной вкладки (с 1 из 10)
  </div>
</div>
